$o-loading-is-silent: false;
@import '../../main';

.demo {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;

	div {
		margin: 20px;
	}
}

// reversed background
.demo--light {
	background: if($o-brand == 'whitelabel', oColorsGetPaletteColor('black'), oColorsGetPaletteColor('slate'));
}

// reversed background
.demo--dark {
	@include oColorsFor(page);
}

.demo-toggle {
	margin: 20px;

	&:not([disabled]) ~ .o-loading {
		display: none;
	}
}
